.div-parent {
    width: 100%;
    display: flex;
    justify-content: right;
}

h3 {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.outer-form {
    margin-top: 95px;
    display: flex;
    justify-content: center;
}

.parent-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 20px;
    height: 320px;
    background-color: rgb(206, 198, 255);
    border: 5px solid rgb(189, 179, 255);
    border-radius: 10px;
    padding: 20px;
}

.btn-enter {
    margin-top: 20px;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-enter:hover {
    background-color: rgb(208, 243, 243);
}

.btn-enter:active {
    background-color: rgb(192, 255, 255);
}

.form-panel {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    vertical-align: center;
}

.form-panel>label {
    margin-right: 30px;
}

#togglePasswordBtn {
    width: 20px;
    height: 20px;
    display: inline;
    margin-left: -20px;
    vertical-align: middle;
}