{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index/index.css" %}">
    <link rel="stylesheet" href="{% static 'css/index/modal_add_post.css' %}">
{% endblock %}

{% block up_panel %}
    <div class="up-panel">
    
{#    Будущая форма поиск постов    #}
{#        <form action="#" method="get" class="form-search">    #}
{#            <input type="text" placeholder="Найти пост">    #}
{#            <button type="submit">Поиск</button>    #}
{#        </form>    #}
        
        <button id="openModalAddPostBtn">Добавить пост</button>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Новый пост</h2>
            <form id="form-add-post" method="post" enctype="multipart/form-data">
                <textarea name="post_text" id="post_text" maxlength="3000"
                          placeholder="Введите текст поста..."></textarea>
                <label for="post_image">Изображение к посту </label>
                <input type="file" name="post_image" accept="image/png, image/jpeg" id="add-post-img">
                <div id="BtnAddPostDiv">
                    <button type="submit" id="addPostBtn">Добавить пост</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/index/index.js" %}"></script>
    <script src="{% static 'js/index/modal_add_post.js' %}"></script>
{% endblock %}