{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="icon" href="{% static "images/icon.jpg" %}">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
<div class="parent">
    <div class="left-column">
        <div class="div-logo">
            <a href="{% url 'main:index' %}" class="softy-logo">Softy</a>
        </div>
        <div id="left-column-content" class="left-column-content">

            {% if user.is_authenticated %}
                <div class="profile-div">
                    <img src="https://kamtk.ru:9096/el-zurnal/el-dnevnik/Css/image1/profile.png"
                         alt="profile_image"
                         class="img_profile">
                    <a href="{% url 'user:profile' %}">Профиль</a>
                </div>
            {% else %}
                <div class="profile-div">
                    <a href="{% url 'user:login' %}" id="login-a">Авторизация</a>
                    <a href="{% url 'user:register' %}" id="register-a">Регистрация</a>
                </div>
            {% endif %}
        
            {% if request.user.is_authenticated %}
                <div id="left-column-content-a" class="left-column-content-a">
                    <a id="btn-your-likes" href="{% url 'main:index' %}">Лента новостей</a>
                    <a id="btn-your-likes" href="#">Ваши лайки</a>
                    <a id="btn-your-comments" href="#">Ваши комментарии</a>
                    <a id="btn-exit" href="{% url 'user:logout' %}">Выйти</a>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="right-column-parent">
        <div class="right-column">

            {% block up_panel %}{% endblock %}

            <div class="right-column-content">

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
</div>

{% block js %}{% endblock %}

<script src="{% static "js/base.js" %}"></script>

</body>
</html>