{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="icon" href="{% static "images/icon.jpg" %}">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
<div class="parent">
    <div class="left-column">
        <div class="div-logo">
            <a href="#" class="softy-logo">Softy</a>
        </div>
        <div id="left-column-content" class="left-column-content">

            <!-- кнопки авторизации и регистрации -->
            <!-- или профиль пользователя -->
            <!-- подгружаются в base.js -->

            <div class="left-column-content-a">
                <a id="btn-your-likes" href="#">Ваши лайки</a>
                <a id="btn-your-comments" href="#">Ваши комментарии</a>
                <a id="btn-exit" href="{% url 'user:logout' %}">Выйти</a>
            </div>
        </div>
    </div>
    <div class="right-column-parent">
        <div class="right-column">
            <div class="up-panel">
                <form action="#" method="get" class="form-search">
                    <input type="text" placeholder="Найти пост">
                    <button type="submit">Поиск</button>
                </form>
                <a href="#">Добавить пост</a>
            </div>
            <div class="right-column-content">

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
</div>

{% block js %}{% endblock %}

<script src="{% static "js/base.js" %}"></script>

</body>
</html>