{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/users_style.css" %}">
{% endblock %}

{% block content %}
    <div class="outer-form">
        <div class="parent-form">
            <h3>Авторизация</h3>
            <div class="form">
                <form id="form-login" action="{% url "user:login" %}" method="post">
                    {% csrf_token %}

                    <div class="form-panel">
                        <label for="username">Имя пользователя</label>
                        <input id="username" type="text" name="username" autofocus required>
                    </div>
                    <div class="form-panel">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" class="password" name="password" required
                               autocomplete="on">
                        <img id="togglePasswordBtn" src={% static "images/password_show.png" %}>
                    </div>

                    {% include 'includes/notifications.html' %}

                    <button type="submit" id="btn-enter" class="btn-enter">Войти</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const pathToImages = '{% static "images/" %}';
    </script>
    <script src="{% static "js/users/login.js" %}"></script>
{% endblock %}