{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/user_style_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="outer-profile">
        <div id="parent-profile" class="parent-profile">
            <div id="div-info" class="div-info">
                <img id="img-profile-menu" src="#" alt="profile_photo">
                <div class="main-profile-info">
                    <div id="div-fio">
                        <label id="user_first_name" for="user_first_name"></label>
                        <label id="user_last_name" for="user_last_name"></label>
                    </div>
                </div>
            </div>
            {# в profile.js создаётся тег "a" для перехода на страницу изменения профиля текущего пользователя #}
        </div>
    </div>

    <script src="{% static "js/users/profile.js" %}"></script>
{% endblock %}