{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/users_style.css" %}">
{% endblock %}

{% block content %}
    <div class="outer-form">
        <div class="parent-form">
            <h3>Регистрация</h3>
            <div class="form">
                <form action="{% url "user:register" %}" method="post">
                    {% csrf_token %}
                    
                    <div class="form-panel">
                        <label for="id_username">Имя пользователя*</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="form-panel">
                        <label for="password1">Пароль*</label>
                        <input type="password" name="password1" id="password" required>
                        <img id="togglePasswordBtn" src={% static "images/password_show.png" %}>
                    </div>
                    <div class="form-panel">
                        <label for="password2" class="form-label">Повторите пароль*</label>
                        <input type="password" name="password2" id="password2" required>
                    </div>
                    <button class="btn-enter">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}