{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/users/users_style.css" %}">
{% endblock %}

{% block content %}
    <div class="outer-form">
        <div class="parent-form">
            <h3>Регистрация</h3>
            <div class="form">
                <form id="form-register" action="{% url "users:register" %}" method="post" enctype="multipart/form-data">
                    <div class="outer-form-panel">
                        <div class="form-panel">
                            <label for="username">Логин*</label>
                            <input type="text" name="username" id="username" required>
                        </div>
                        <div class="form-panel">
                            <label for="first_name">Имя*</label>
                            <input type="text" name="first_name" id="first_name" required>
                        </div>
                        <div class="form-panel">
                            <label for="last_name">Фамилия*</label>
                            <input type="text" name="last_name" id="last_name" required>
                        </div>
                        <div class="form-panel">
                            <label for="password1">Пароль*</label>
                            <input type="password" name="password1" id="password1" required autocomplete>
                            <img id="togglePasswordBtn" alt="" src={% static "images/password_show.png" %}>
                        </div>
                        <div class="form-panel">
                            <label for="password2" class="form-label">Повторите пароль*</label>
                            <input type="password" name="password2" id="password2" required autocomplete>
                        </div>
                        <br>
                    </div>
                    <div class="form-panel">
                        <label for="avatar" class="form-label">Изображение профиля</label>
                        <input type="file" accept="image/png, image/jpeg" name="avatar" id="avatar">
                    </div>

                    <button class="btn-enter">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const pathToImages = '{% static "images/" %}';
    </script>
    <script src="{% static "js/users/register.js" %}"></script>
{% endblock %}